@if (breakpoint.isMobile()) {
  <app-mob-page-header
    [title]="pageTitle()"
    [subtitle]="pageDescription()"
    (menuToggled)="isSidebarVisible.set(true)"
  />

  <app-mob-sidebar
    [visible]="isSidebarVisible()"
    [orgName]="orgName"
    [orgInitials]="orgInitials"
    [orgSubtitle]="orgSubtitle"
    [userEmail]="userService.userEmail()"
    [userInitials]="userService.userInitials()"
    [navItems]="navItems"
    (closed)="isSidebarVisible.set(false)"
    (logoutClicked)="onLogout()"
  />
} @else {
  <app-sub-header
    [pageTitle]="pageTitle()"
    [pageDescription]="pageDescription()"
    [showBackButton]="showBackButton()"
    [backButtonLink]="backButtonLink()"
  >
    <ng-container ngProjectAs="[actions]">
      <ng-content select="[actions]" />
    </ng-container>
  </app-sub-header>
}

<div class="page-layout__content">
  <ng-content />
</div>
