<header class="header">
  <div class="header__brand">
    <span class="header__title">Círculo Policial de Flores</span>
  </div>

  <nav class="header__nav">
  <a routerLink="/reservas" routerLinkActive="active" class="header__nav-item">
    <span class="material-icons">calendar_today</span> Reservas
  </a>
  <a routerLink="/clientes" routerLinkActive="active" class="header__nav-item">
    <span class="material-icons">group</span> Clientes
  </a>
  <a routerLink="/estadisticas" routerLinkActive="active" class="header__nav-item">
    <span class="material-icons">bar_chart</span> Estadísticas
  </a>
  <a routerLink="/finanzas" routerLinkActive="active" class="header__nav-item">
    <span class="material-icons">attach_money</span> Finanzas
  </a>
  <a routerLink="/servicios" routerLinkActive="active" class="header__nav-item">
    <span class="material-icons">business</span> Servicios
  </a>
</nav>

  <div class="header__user">
    <div class="header__avatar">F</div>
    <span class="header__username">Franco Rico</span>
  </div>
</header>