<app-page-layout
  pageTitle="Finanzas"
  pageDescription="Gestiona y consulta los movimientos financieros del sistema"
>
  <app-button
    actions
    label="Nuevo Movimiento"
    intent="primary"
    icon="pi-plus"
    (clicked)="onNuevoMovimiento()"
  />
  <input
  #facturaInput
  type="file"
  hidden
  accept=".pdf,.jpg,.jpeg,.png,.bmp,.tiff,.heif"
  (change)="onFacturaSeleccionada($event)"
/>

<app-button
  actions
  label="Cargar factura"
  intent="secondary"
  icon="pi-upload"
  [loading]="analizandoFactura()"
  (clicked)="onCargarFacturaClick(facturaInput)"
/>

  <app-button
    actions
    label="Descargar listado"
    intent="secondary"
    icon="pi-download"
    [disabled]="!puedeExportar()"
    [loading]="exportando()"
    (clicked)="onDescargarListado()"
  />

  <app-filter-panel (filterChange)="onFilterChange($event)" />
  <app-table [columns]="columns" [loadDataFn]="loadDataFn" [getRowActions]="rowActions" />
</app-page-layout>
